.chart-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url('/assets/chart.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  // z-index: -101;
}

.chart-form-element {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 100%;
  min-height: 100%;
}


.chart-element-holder{
  // background-color:
  width: calc(100% - 350px);
  height: calc(100% - 200px);
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.chart-form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.chart-type-button-holder{

}

.chart-show {

}

.recharts-surface {
  overflow: visible;
  margin: 20px;
  background-color: rgb(211,200,176);
  background-color: rgba(211,200,176,.95);
  border-radius: 10px;
}

tspan {
  margin: 10px;
}
