// Place all the styles related to the Charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charts-index-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/assets/all_charts.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.chart-with-arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.change-current-chart-arrows {
  font-size: 50px;
}

.change-current-chart-arrows:hover{
  cursor: pointer;
  font-size: 70px;
}



.chart-options-crud{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.chart-options-crud button:hover {
  cursor: pointer;
  background-color: #E4B395;

}
