.nav-bar-div {
  position: absolute;
  left: 0;
  top: 0;
}

.navBarHeader{
  display: flex;
  float: left;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.navBarHeader li, button {
  font-size: 18px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 16.6666%;
  background-color: transparent;
  color: transparent;
  border: 0px;
  padding: 10px 0;
  font-family: 'Indie Flower', cursive;
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: black;
}

.logo-title {
  font-size: 32px;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  font-weight: bold;
  -webkit-text-stroke-color: black;
  font-family: 'Indie Flower', cursive;
}

.logo, .nav-icon {
  margin-right: 5%;
}

.nav-icon {
  color: black;
}

.navBarHeader button {
  cursor: pointer;
  border-left: 0px;

}

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBarHeader button:hover {
  background-color: #E4B395;
}

.nav-icon {
  font-size: 30px;
}
