.nav-bar-div {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

.navBarHeader{
  display: flex;
  float: left;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.navBarHeader h2, button {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 16.6666%;
  background-color: transparent;
  border: 5px solid;
  padding: 10px 0;
}

.navBarHeader button {
  cursor: pointer;
  border-left: 0px;

}

.masthead {
  text-align: center;
  padding: 0;
}

.navBarHeader button:hover {
  background-color: blue;
}

.nav-icon {
  font-size: 30px;
}
