.upload-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  // margin-top: 75px;
  height: calc(100% - 367px);
  position: absolute;
  top: 75px;
}

#upload-metadata button, #upload-metadata input, #upload-metadata form {
  margin: 10px;
  padding: 10px;
}

#upload-metadata {
  display: flex;
  justify-content: center;
}

.dropzone{
  height: calc(70px + 40%);
  width: calc(100px + 35%);
  border: 3px;
  border-style: dashed;
  border-radius: 10px;
}

.dropzone:hover{
  border-color: green;
  border-style: solid;
  cursor: pointer;
}

#upload-submit-button, #title-input-field{
  width: 150px;
  height: 35px;
  background-color: transparent;
  border: 3px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  padding: 0;
  margin: 10px 0 0 25px;
}

#upload-submit-button.green-upload:hover {
  cursor: pointer;
  background-color: green;
  border-color: green;
}

#upload-submit-button.greyed-upload {
  background-color: #AFB4B6;
}

#upload-metadata-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active-dz {
  border-style: solid;
  border-color: green;
  background-color: green;
}

.dropzone-instructions {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
}

#cloud-nav-icon {
  font-size: 30px;
  align-items: center;
}

.dataset-titles, .dataset-title-buttons {
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  background-color: transparent;
  border-style: none;
}

.dataset-titles-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
}

.dataset-titles:hover, .dataset-title-buttons:hover {
  background-color: #E4B395;
  cursor: pointer;

}

.dataset-title-view {
  font-family: sans-serif;
  font-weight: bold;
}

.table-header-options{
  background-color: #FAFBFD;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

#closer-icon, #trash-dataset-icon{
  color: black;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border-style: none;
}

#closer-button, #trash-dataset-button{
  margin: 0px;
  padding: 0px;
  width: auto;
  background-color: transparent;
  border-style: none;
}

#closer-button{
  position: absolute;
  right: 15px;
}

#trash-dataset-button {
  position: absolute;
  right: 50px;
}

#closer-icon:hover, #trash-dataset-icon:hover{
  color: #E4B395;
}

#closer-button:hover, #trash-dataset-button:hover {
  cursor: pointer;
}



.upload-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url('/assets/upload.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  // z-index: -101;
}

#mydata-holder{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 300px;
}

#my-datasets{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px;
  border-color: black;
  background-color: #FAFBFD;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

}

#list-datasets{
  overflow: auto;
  justify-content: center;
  width: 100%;
}

#data-view-table {

}

.table-holder {

  width: calc(100% - 150px);
  height: 100%;
  // overflow: auto;
}

.table-header-rows {
  width: 100%;
  height: 259px;
  overflow: auto;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #FAFBFD;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
    width: 100%;
}

td:hover, th:hover {
  // background-color: #AFB4B6;
  font-weight: bold;
}
